name: CI MLflow Project

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project (training)
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      - name: Find MLflow model
        run: |
          MODEL_PATH=$(find MLProject/mlruns -type d -name model | head -n 1)
          echo "MODEL_PATH=$MODEL_PATH" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          mlflow models build-docker \
            --model-uri "file://$MODEL_PATH" \
            --name airquality-mlflow-model

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker Image
        run: |
          docker tag airquality-mlflow-model \
            ${{ secrets.DOCKER_HUB_USERNAME }}/airquality-mlflow-model:latest
          docker push \
            ${{ secrets.DOCKER_HUB_USERNAME }}/airquality-mlflow-model:latest